:root {
    --text: #e5e5e5;
    --accent: #1688f0;
    --bg-main: #000;
    --bg-repo: #0f0f1a;
    --bg-user: #0a0a0f;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-main);
    color: var(--text);
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1280px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

h1 {
    color: var(--accent);
    margin-bottom: 4px;
}

small {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    color: var(--text);
    margin: 0;
}

img {
    border: 2px solid var(--accent);
    box-shadow: 0 0px 6px var(--accent), 0 0px 6px var(--accent);
    max-width: 100%;
    height: auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

.github-img {
    width: 45px;
    margin-right: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-user);
    color: var(--text);
    font-size: 18px;
    padding: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 18px;
}

.filter-repos,
input {
    background: var(--bg-user);
    width: 50%;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--accent);
    color: var(--text);
    text-align: center;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-repo);
    margin-top: 0;
    padding: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4em;
}

h3 {
    margin: 4px;
    width: 100%;
    text-align: center;
    color: var(--accent);
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 100%;
    min-height: 180px;
    border-radius: 10px;
    margin: 1em 0;
    border: 1px solid var(--accent);
    padding: 1em;
    text-align: center;
    background-color: var(--bg-user);
}

.repo-list li:hover {
    background-color: var(--bg-main);
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px var(--accent);
}

.repo-list li a {
    padding: 10px 20px;
    background: var(--bg-main);
    border-radius: 30px;
    border: 2px solid var(--accent);
    color: var(--text);
}

.repo-list li a:hover {
    background: var(--accent);
    border: 2px solid var(--text);
    transform: scale(1.1);
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

@media (min-width: 700px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 700px) {
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}
